
stages:
  - build


workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $GIT_DEPLOY_KEY_ID
    - if: $GIT_DEPLOY_KEY_SECRET
    - when: never

build-live-iso:
  stage: build
  when: manual
  allow_failure: false
  tags:
    - leios-image-builder-amd64

  before_script:
    - curl -fsSL https://bun.sh/install | bash
    - bun install

  script:
    # Build the ISO
    - lb build

    # Publish
    - li publish

